<template>
  <main class="container bg-light bg-gradient">
    <section class="row">
      <div class="col background-white py-3">
        <div class="clearfix">
          <div>
            <img
              src="../assets/logo.svg"
              class="col-md-4 mb-5 ms-md-3 rounded img-fluid float-sm-start"
              alt="..."
            />
          </div>
          <div>
            <h1>Quienes somos</h1>
            <p>
              La Ilustre, trasegadora, galante y andariega Tuna de la EAN de
              Bogotá fue bautizada 26 de Julio del año 2.003 el municipio de
              Madrid (Cundinamarca) por Tuna de la Escuela Superior de
              Administración Pública – ESAP de la ciudad de Bogotá. Está integrado
              por estudiantes y egresados de programas de pregrado,especialización
              y maestría.En sus 18 años Existencia desde que era una Tuna Novata,
              hacen parte de su historia 25 tunos quienes todavía mantienen el
              vínculo con el grupo.
            </p>
            <p>
              Desde allí ha venido creciendo en el arte de la tuna, rondando a las
              mujeres, parchando y cantando en Certámenes, Festivales y Encuentros
              de Tuna a nivel nacional e internacional, encuentros organizados por
              municipalidades como La Vega, Madrid, Mosquera, Chia, Duitama,
              Bucaramanga etc. Y encuentros organizados por las diferentes
              universidades como la UDES, ESAP, Javeriana, Sabana, U. Catolica,
              Universidad Nacional etc.
            </p>

            <p>
              Además a lo largo de su historia ha conseguido varios
              reconocimientos en los certámenes en los que ha participado entre
              ellos se encuentran:
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="container">
      <h2 style="text-align: center; font-weight: 600;">Nuestros logros</h2>
      <div class="col background-white py-3">
        <div class="clearfix">
          <ul class="list-group">
            <li class="list-group-item">
              “Mejor musicalidad” Certamen Internacional de Tunas de Bogotá
              organizado por la ESAP y la Alcaldía de Bogotá (2.005).
            </li>
            <li class="list-group-item">
              “MejorTuna”,Certamen de Tunas Unilatina CETUNI 2009, Bogotá.
            </li>
            <li class="list-group-item">
              “Mejor Tuna Internacional” en el Certamen de tunas en Arequipa,
              Perú 2010
            </li>
            <li class="list-group-item">
              “MejorTuna” Certamen de tunas Unilatina CETUNI 2010, Bogotá.
            </li>
            <li class="list-group-item">
              “MejorCapa” y “Mejor Bandera” Certamen Universidad Católica 2010,
              Bogotá.
            </li>
            <li class="list-group-item">
              “Segunda mejor Tuna” Festival de Grupos Musicales Hacienda Sta
              Bárbara2011, Bogotá.
            </li>
            <li class="list-group-item">
              “Mejor Tuna”, “Mejor Pasacalles” y “MejorCancióndeTuna” en
              Festitunas Cartagena de indias 2011, Colombia.
            </li>
            <li class="list-group-item">
              “Mejor Tuna” Certamen de Tunas de Unilatina CETUNI 2012, Bogotá.
            </li>
            <li class="list-group-item">
              “Mejor tema instrumental” Certamen de Tunas de Unilatina CETUNI
              2014.
            </li>
            <li class="list-group-item">
              “Mejor Instrumental” I certamen de tunas de la Universidad Militar
              Nueva Granada, Tuna de Medicina de Universidad Militar Nueva
              Granada 2015.
            </li>
            <li class="list-group-item">
              “mejor pandereta” certamen universidad catolica santa maria
              arequipa , Peru 2017
            </li>
          </ul>
          <p class="mt-4" style="text-align: justify;">
            Viven recorriendo todo el país y gran parte de las latitudes medias
            y bajas del globo terráqueo con sus alegres y jocosos cantos y
            llevando consigo esta tradición tan antigua y portando con honor,
            orgullo e hidalguía el escudo de nuestra Alma Matter, en el corazón.
            Ha viajado y conocido ciudades importantes como Quito, Ciudad Mitad
            del Mundo en Ecuador, Lambayeque, Chiclayo, Lima y Tacna en Perú,
            Arica, Iquique, La Serena, Santiago, Valparaíso, Viña del Mar en
            Chile,y tiene representaciones de parches en Miami y Buenos Aires;
            además ha representado a Colombia en Festivales internacionales como
            el “Encuentro Mundial de Tunas y Estudiantinas de Iquique” en su
            pasacalles, y el “Festival Internacional de Tunas y Estudiantinas de
            la Serena” en Chile; destacándose por su buena actuación, propuestas
            musicales y su gran gusto por el vino.
          </p>

          <p>
            Contactanos
            <a
              href="https://wa.me/573026544545?text=Me%20gustaría%20contactar%20a%20la%20tuna"
              >aquí</a
            >
            para tener una presentación con los mejores tunos de la ciudad.
          </p>
        </div>
      </div>
    </section>
  </main>
</template>

<script lang="ts">
export default {
  name: "AboutView",
  metaInfo: {
    title: "Acerca de: ",
  },
};
</script>

