<template>
  <div class="card">
    <div class="card-img">
      <div :id="id" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div
            v-for="images in serviceImgs"
            :key="images"
            :class="images.active ? 'carousel-item active' : 'carousel-item'"
          >
            <img
              :src="`${publicPath}img/Services/${images.url}`"
              class="d-block w-100 img-fluid" 
              alt="Service Image"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          :data-bs-target="'#' + id"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          :data-bs-target="'#' + id"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ serviceName }}</h5>
      <p class="card-txt">
        {{ serviceDescription }}
      </p>
      <div v-if="payed">
        <p>{{ servicePrice }}</p>
        <p>Contratar</p> 
        <a style="font-size: large; padding: 0.5em;" :href="'mailto:' + contactInfo.email" target="_blank"> 
          <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
        </a>
        <a style="font-size: large; padding: 0.5em;" :href="'tel://' + contactInfo.phone" target="_blank"> 
          <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
        </a>
        <a style="font-size: large; padding: 0.5em;" :href="`${whatsappinfo}`" target="_blank"> 
          <i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i>
        </a>
      </div>
      <div v-else>
        <a
            class="btn btn-primary"
            :href="`${whatsappinfo}`"
            target="_blank"
        >
          Contactar
        </a>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  props: {
    id: String,
    serviceName: String,
    serviceDescription: String,
    serviceImgs: Array, 
    servicePrice: String,
    whatsappinfo: String,
    payed: Boolean
  },

  data() {
    return {
      publicPath: process.env.BASE_URL,
      contactInfo: {
        email: "tuna@tunadelaean.com",
        phone: "+57 302 654 4545",
      },
    };
  },
};
</script>

<style scoped>
.cards {
  padding: 10px;
}

.card {
  margin: auto;
  border-radius: 0.5em;
  padding: 0px;
  margin-bottom: 15px;
  background-color: rgb(255, 249, 241);
}

.card .card-body .card-title {
  font-weight: bold;
}

.card-img {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.card .card-body {
  overflow-y: auto;
  height: 300px;
}

.card .card-body .card-txt {
  text-align: justify;
  text-overflow: ellipsis;
}

.carousel:hover {
  transform: scale(1.03);
  transition-duration: 500ms;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.carousel-inner,
.carousel-item {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

@media (max-width: 768px) {
  /* Ajustes para móviles */
  .card .card-body {
    height: auto; /* Ajustamos la altura en móvil */
    padding: 15px;
  }

  .card {
    margin-bottom: 20px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    display: none; /* Escondemos los botones de control en pantallas pequeñas */
  }

  .card .card-body .card-txt {
    font-size: 0.9rem; /* Reducimos el tamaño del texto para que se ajuste mejor */
  }
}
</style>